config.py
meiryo.ttc
README.md
sina_datas.db
musicfile/
.vscode/
__pycache__/
imgs/
cogtest.py
backup_bot.py
debug.log
bulk_message_delete.txt
cogs/__part_pjsekai_music_select.py
database.py
dbtra.txt
bot-mii-10sPC.py
.gitignore
my_module/dpy_interaction.py
ment.py
.gitignore
trans_db.py
cogs/_m10s_api.py
cogs/slash/pjsekai_music_select.py
pjsekai_musics.json
