setuptools
aiohttp
aiomysql
aiosqlite
astroid
astunparse
async-timeout
attrs
Babel
beautifulsoup4
braceexpand
certifi
chardet
click==8.1.7
colorama
Django
dropbox
gTTS
idna
import-expression
isort
jishaku
mccabe
multidict
mysql-connector-python
Pillow
pylint
PyMySQL
PyNaCl
PyQt5
PyQt5-sip
PyScreeze
python-dateutil
pytz
requests
scratchapi2
six
sqlparse
twitter
typed-ast
typing-extensions
urllib3
Wikidata
wikipedia
yarl
yt-dlp
psutil
google-api-python-client
mutagen
discord.py[voice]
